<!DOCTYPE html>
<html>
<head>
  <title>Hoops Tube</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class='background'>

  <header>
    <p>Main logo / welcome msg</p>
    <nav class='header_nav'>
      <ul>
        <li><a href="/videos">Home</a></li>
        <li><a href="/videos/today">Today's Special</a></li>
        <li><a href="/videos/upload">Upload Video</a></li>
      </ul>
    </nav>
  </header>

  <div class="main_frame">
    
  <%= yield %>

  </div>

  <nav class='footer'>
    <ul>
      <li><a href="/videos">Home</a></li>
      <li><a href="/videos/today">Today's Special</a></li>
      <li><a href="/videos/upload">Upload Video</a></li>
    </ul>
    <p><em>This is a student webste.All videos are properties of the NBA and licensed for Youtube.I do not own them</em></p>
  </nav>


</div>
</body>
</html>