<!DOCTYPE html>
<html>
<head>
  <title>Hoops Tube</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>



<footer>
  <!-- menu again but smaller -->
</footer>

</body>
</html>