<h3>Bring them home!</h3>

<form action='/videos' method='post'>
  <input type='text' name='title' id='title' placeholder='Title' autofocus>
  <input type='text' name='description' id='description' placeholder='Description' autofocus>
  <input type='text' name='url' id='url' placeholder='URL' autofocus>
  <input type='text' name='genre' id='genre' placeholder='Genre' autofocus>
  <button>Dunk It</button>
</form>