<h3>All our videos so far</h3>

<%  @videos.each do |video|  %>
<div class='video_frame'>
  <h4> <a href="/videos/<%= video['id'] %>"> <%= video['title'] %> </a> </h4>
  <iframe width="340" height="250" src="<%= video['url_embed'] %>"  frameborder="0" allowfullscreen></iframe>
</div>
<% end %>




