.background {
  text-align: center;
  border: 2px solid black;
}
header {
  border: 2px solid black;
}
nav li {
  display: inline-block;
  padding: 0 10px;
}

/* THE VIDEOS*/
.main_frame {
  border: 2px solid black;
  height: 100%;
  padding-bottom: 40px;
}
.video_frame {
  display: inline-block;
}
.edit-delete * {
  display: inline-block;
  margin-bottom: 10px;
}

.footer {
  border: 2px solid black;
}